.card {
  height: 250px;
  width: 200px;
}

.cardDiv {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
}

.text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5px;
}
